@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="LogoutUser">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="" @onclick="LoginUser">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
	    navigationManager.NavigateTo("user/logoutuser");
	    navigationManager.NavigateTo("/");

	    //await SignOutManager.SetSignOutState();
    }

	private async Task LogoutUser()
	{
		await httpClient.GetAsync("user/logoutuser");
		navigationManager.NavigateTo("/", true);
	}

	private void LoginUser() => navigationManager.NavigateTo("user/GoogleSignIn", true);
}
